.search-container {
    max-width: 50px;
    margin: auto;
    padding-right: 10px;
}

.search {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 100px;
    -webkit-transition: all .10s ease;
    -moz-transition: all .10s ease;
    transition: all .10s ease;
    float: right;
}
.search:focus {
    width: 200px;
}

/*User Define*/
.pages_summary {
    float: right;
}

.paging {
  float: left
}

.datepicker{z-index:9999 !important}

.active_status {
    background-color: red;
    color: black;
}

.tight { margin: 2px; }

th {
    height: 10px !important;
}

.control {
    height: 26px !important;
    margin: 0;
}

/* Blink for Webkit and others
(Chrome, Safari, Firefox, IE, ...)
*/

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
.blink{
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
}


